.apicall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // place-content: center;
        gap: 1rem;
        // justify-content: center;
        
    }

    &__btn-group{
        margin-top: 10px;

        
            button {
                border-radius: 10px;
                display: inline-block;
                border: none;
                text-align: center;
                padding: 10px;
                margin: 10px;
                width: 150px;
                font-size: 1.25rem;
                font-weight: 700;
                background: #6bc373;
              }
        
    }
}





@media (max-width: 768px) {
    .apicall__container{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
    }
    
}